@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1; /* Firefox */
    font-weight: 300;
  }
  ::placeholder:hover { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
    font-weight: 300;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(150, 150, 150);
    font-weight: 300;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(150, 150, 150);
    font-weight: 300;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn.wallpapersafari.com/1/97/gom1Fs.jpg)

    /*background: linear-gradient(#35b3e6, #161623);
*/}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  /* background: linear-gradient(rgb(0, 102, 255), rgb(0, 195, 255));
*/
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h1{
    color: ghostwhite;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    
}

.container .card{
    position: relative;
    width: 480px;
    height: 600px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(12, 9, 54, 0.37);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    backdrop-filter: blur(4px);


}

.container .card .content{
    padding: 30px;
    text-align: center;
    transform: translateY(-10px);
    opacity: 0.6;
    justify-content: center;
    transition: 0.6s;
}
.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h1{
    margin-bottom: 15px;
    font-weight: 300;
}
.container .card .content hr{
    margin: 20px 30px 30px 30px;
}
.container .card .content h2{
    position: absolute;
    top: -15%;
    left: 70px;
    font-size: 4em;
    letter-spacing: -4px;
    color: rgba(255, 255, 255, 0.74);
    pointer-events: none;
}
.container .card .content h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.6em;
    color: seashell;
    font-weight: 400;
}
.container .card .content .login{
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    background: rgba(255, 255, 255, 0.342);
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    color: rgb(26, 26, 26);
    transition: ease-in;
    transition-duration: 0.5s;
    
}
.container .card .content .password:hover{
    background: rgba(255, 255, 255, 0.726);
}
.container .card .content .login:hover{
    background: rgb(255, 255, 255);
}
.container .card .content .login:focus{
    background: rgba(255, 255, 255);    
}
.container .card .content .password:focus{
    background: rgba(255, 255, 255);    
}
.container .card .content .password{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3em;
    border-style: none;
    background: rgba(255, 255, 255, 0.342);
    border-radius: 25px;
    margin-bottom: 10px;
    color: rgb(26, 26, 26);
    transition: ease-in;
    transition-duration: 0.5s;
}
.container .card .content .b{
    position: relative;
    display: inline-block;
    padding: 8px 60px;
    margin-top: 15px;
    background: rgb(0, 130, 153);
    color: #000;
    border-radius: 18px;
    text-decoration: none;
    font-weight: 900;
    transition: ease;
    transition-duration: 0.9s;
}
.container .card .content .b:hover{
    background: rgb(3, 209, 245);
    transition: ease;
    transition-duration: 0.9s;
}
.container .card .content .b:focus{
    background: rgb(3, 209, 245);
    transition: ease;
    transition-duration: 0.9s;
}
.container .card .content .bottom{
    position: absolute;
    bottom: -20%;
    left: 25%;
    margin-top: 15px;
    color: rgba(189, 189, 189, 0.808);
    text-decoration: none;
    font-weight: 900;
}